<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>SAE3.01</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <h1>SAE3.02</h1>

        <form method="POST">
            <input type="text" name="keyword" placeholder="Rechercher un terme..." required>
        </form>

        <div class="results">
            {% if results %}
                <ul>
                    {% for file, line, content in results %}
                        <strong>• {{ file }} à la ligne n°{{ line }}</strong> <br> {{ content }} <br><br>
                    {% endfor %}
                </ul>
            {% elif results is not none %}
                <p>No match found.</p>
            {% endif %}
        </div>
    </div>

</body>
</html>